* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*impostazioni box model*/

:root{
    --sfondo_sezioni-white: #ffffff;
    --sfondo_body-sweetwhite: #f6f8f9;
    --toboolist-black: #010101;
    --titoli_sezioni-lightblack: #444851;
    --elementi_lista-grey: #72757b;
    --add_list-heavenly: #47adf1;
    --add_section-lightgrey: #d0d5d8;
    --editorial-lighblue: #45abea;
    --q1goals-violet: #9c72e4;
    --recruiting-green: #64c0a9;
    --mobile-orange: #f29e33;
    --website-purple: #d863a1;
    --sales-lightgreen: #b0c926;
    --check-greenblue: #a0dace;
    --cross-red: #ed7873;
}

/*root*/

body{
    background-color: rgb(118, 116, 116);
    font-family: 'Roboto';
}

/*body*/

header{
    background-color: var(--sfondo_sezioni-white);
    border: 1rem solid var(--sfondo_sezioni-white);
    margin-bottom: 3rem;
}


.logo_text {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Roboto';
    color: var(--toboolist-black);
}

.logo_img {
    vertical-align:bottom;
}

/*header*/

main{
    display: grid;
    place-items: center;
}

/*main*/

button{
    background-color: var(--sfondo_sezioni-white);
    font-family: 'Roboto';
    font-size: small;
    font-weight: bold;
    color: var(--add_section-lightgrey);
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    border-color: var(--add_section-lightgrey);
    border-style: solid;

}
button:hover{
    background-color: transparent;
    
}
button:active{
    opacity: 0.7;
}
button:focus{
    background-color: var(--add_list-heavenly);
    font-family: 'Roboto';
    font-size: small;
    font-weight: bold;
    color: var(--sfondo_sezioni-white);
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    border-color: var(--add_list-heavenly);
    border-style: solid;
}
/*bottoni*/

h2{
    color:var(--titoli_sezioni-lightblack);
}

/*Titoli delle sezioni*/

ul { 
    list-style: none; 
} 

li.check:before {
    
    content: "\2713";
    display: inline-block;
    font-size: 10px;
    width: 1rem;
    height: 1rem;
    color: var(--recruiting-green);
    border: 0.05rem solid var(--recruiting-green);
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

li.cross:before{
    content: "\2717";
    display: inline-block;
    font-size: 10px;
    width: 1rem;
    height: 1rem;
    color: var(--cross-red);
    border: 0.05rem solid var(--cross-red);
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

/*Checkbox e crossbox della lista*/

.compiti{
    display: inline-block;
}

.attributo{
    display: inline-block;
    font-size: 8px;
    color: var(--sfondo_sezioni-white);
    padding:0.2rem 0.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-left: 5px;
}

#editorial{
    background-color: var(--editorial-lighblue);
    border: 1px solid var(--editorial-lighblue);
}

#q1_goals{
    background-color: var(--q1goals-violet);
    border: 1px solid var(--q1goals-violet);
}

#recruiting{
    background-color: var(--recruiting-green);
    border: 1px solid var(--recruiting-green);
}

#mobile{
    background-color: var(--mobile-orange);
    border: 1px solid var(--mobile-orange);
}

#website{
    background-color: var(--website-purple);
    border: 1px solid var(--website-purple);
}

#sales{
    background-color: var(--sales-lightgreen);
    border: 1px solid var(--ales-lightgreen);
}

/*Etichette colorate*/
